#about {
    background-color: white;
    position: relative;
    width: 192rem;
    height: 255.9rem;
    .vsig {
        position: absolute;
        width: 6.115rem;
        height: 12.369rem;
        left: 146.136rem;
        top: 208.796rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .square {
        position: absolute;
        width: 54.4rem;
        height: 54.4rem;
        left: 19.75rem;
        top: 18.4rem;
        background: black;
        cursor: pointer;
        > img {
            width: 100%;
            height: 100%;
        }
    }
    .square2 {
        position: absolute;
        width: 46rem;
        height: 45.75rem;
        left: 37.125rem;
        top: 33.823rem;
        background: black;
    }
    .about-me {
        position: absolute;
        width: 32.2rem;
        height: 24rem;
        left: 77.052rem;
        top: 31.023rem;

        font-family: Apparel;
        font-style: normal;
        font-weight: 900;
        font-size: 12rem;
        line-height: 100%;
        mix-blend-mode: difference;
        color: white;
    }

    .group-1 {
        position: absolute;
        width: 84.777rem;
        height: 85.101rem;
        left: 87.354rem;
        top: 76.499rem;

        .header {
            display: flex;
            justify-content: space-between;
            .phrase {
                letter-spacing: 0;
                font-family: Apparel;
                font-style: normal;
                font-weight: bold;
                font-size: 4.8rem;
                line-height: 6.3rem;
                text-transform: lowercase;
                /* identical to box height */

                color: #000000;
            }
            .icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 6.3rem;
                .social_wrapper {
                    cursor: pointer;
                    .circle {
                        width: 4.1rem;
                        height: 4.1rem;
                        position: absolute;
                        border-radius: 100%;
                    }
                    svg {
                        width: 4.1rem;
                        height: 4.1rem;
                    }
                }
            }
        }

        .divider {
            width: 100%;
            height: 0.2rem;
            background-color: black;
            margin: 1.5rem 0;
        }
        .item {
            display: flex;
            justify-content: space-between;
            .title {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.4rem;
                letter-spacing: 0.2rem;
            }
            .body {
                width: 60.876rem;
                font-size: 2rem;
                line-height: 2.6rem;
            }
            .list {
                display: flex;
                gap: 7rem;
                > * {
                    width: 27rem;
                }
            }
        }
    }

    .group-2 {
        position: absolute;
        width: 30.2rem;
        height: 42.564rem;
        left: 20.069rem;
        top: 118.453rem;
        .date {
            font-family: Apparel;
            font-style: normal;
            font-weight: 900;
            font-size: 12rem;
            line-height: 100%;
        }
        .age {
            font-family: Apparel;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
    }
    .group-3 {
        position: absolute;
        width: 61.721rem;
        height: 35rem;
        left: 32.44rem;
        top: 168.717rem;
        display: flex;
        justify-content: space-between;
        .left {
            width: 21.842rem;
            img {
                width: 100%;
            }
        }
        .right {
            width: 35.983rem;
            .top {
                margin-top: 3.2rem;
                margin-bottom: 4.9rem;
                font-family: Apparel;
                font-style: normal;
                font-weight: normal;
                font-size: 2.4rem;
                line-height: 3.1rem;
            }
            .middle {
                font-family: Apparel;
                font-style: normal;
                font-weight: bold;
                font-size: 4.8rem;
                line-height: 6.3rem;
                text-decoration-line: underline;
                margin-bottom: 1.7rem;
            }
            .bottom {
                font-family: Apparel;
                font-style: normal;
                font-weight: normal;
                font-size: 3rem;
                line-height: 3.9rem;
            }
        }
    }
    .group-4 {
        position: absolute;
        width: 89.931rem;
        left: 20.069rem;
        top: 227.363rem;
        .top {
            font-family: Apparel;
            font-style: normal;
            font-weight: bold;
            font-size: 4.8rem;
            line-height: 6.3rem;
            margin-bottom: 1.76rem;
        }
        .bottom {
            font-family: Apparel;
            font-style: normal;
            font-weight: normal;
            font-size: 2rem;
            line-height: 2.6rem;
        }
    }

    .big-line {
        position: absolute;
        width: 173.777rem;
        height: 0.2rem;
        left: 20.069rem;
        top: 100.339rem;
        mix-blend-mode: difference;
        transform-origin: top left;
        background-color: #ffffff;
        transform: rotate(38.62deg);
    }
    .small-line {
        position: absolute;
        width: 53.009rem;
        height: 0.2rem;
        left: 102.221rem;
        top: 214.482rem;
        mix-blend-mode: difference;
        transform-origin: top left;
        background-color: #ffffff;
        transform: rotate(-25.24deg);
    }
    .circle1 {
        position: absolute;
        width: 33.343rem;
        height: 33.343rem;
        left: 114.514rem;
        top: 178.7rem;
        border-radius: 100%;
        background: #ffffff;
        mix-blend-mode: difference;
        transform-origin: top left;
    }
    .circle2 {
        position: absolute;
        width: 8.347rem;
        height: 8.347rem;
        left: 109.999rem;
        top: 191.198rem;
        border-radius: 100%;
        mix-blend-mode: difference;
        transform-origin: top left;
        background: #ffffff;
    }
    .circle3 {
        position: absolute;
        width: 2.993rem;
        height: 2.993rem;
        left: 158.838rem;
        top: 208.253rem;
        border-radius: 100%;
        mix-blend-mode: difference;
        transform-origin: top left;
        background: #ffffff;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}
