@keyframes bob {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

$inner-width: 132rem;
$padding-width: 30rem;

#auxilium-case {
    ::selection {
        background: black;
        color: #eec878;
    }

    .case-children > * {
        position: relative;
        &.case-overview {
            width: 15rem;
            top: 104rem;
            height: 1160rem;
            position: absolute;
            .inner {
                position: sticky;
                top: 23rem;
            }
        }
    }

    .case-section {
        position: relative;
        margin-bottom: 20rem;
        .section-contents {
            left: 30rem;
            width: 132rem;
            position: relative;
        }
    }

    #results {
        height: 517.2rem;
        margin-bottom: 0;
        .results2 {
            position: absolute;
            width: $inner-width;
            height: 66.962rem;
            top: 450rem;
            .content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left {
                    width: 64.543rem;
                }
                .right {
                    width: 61.3rem;
                    font-family: Apparel;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8rem;
                }
            }
        }
        .results-mockup {
            position: absolute;
            width: 192rem;
            height: 92rem;
            left: -30rem;
            top: 38.1rem;
            overflow: hidden;
            img {
                transform: scale(1.5);
            }
        }

        .results-screenshots {
            position: absolute;

            width: 152rem;
            height: 133.222rem;
            top: 161.1rem;
            > .title {
                left: -10rem;
                position: relative;
            }
            .title {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 3.6rem;

                /* identical to box height */

                display: flex;
                justify-content: center;
                letter-spacing: 0.2rem;
            }
            .screenshots {
                position: relative;
                left: -10rem;
                display: flex;
                justify-content: space-between;
                .column {
                    width: 45.3rem;
                    .item {
                        width: 45.228rem;
                        .title {
                            margin: 4.5rem;
                            font-family: Poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1.8rem;
                            line-height: 2.7rem;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            letter-spacing: 0.2rem;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .results-visuals {
            position: absolute;
            width: $inner-width;
            height: 110.222rem;
            top: 317.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 2.4rem;
                line-height: 3.6rem;
                /* identical to box height */

                display: flex;
                justify-content: center;
                letter-spacing: 0.2rem;
            }
        }
    }

    #rnd {
        height: 416rem;

        .label {
            width: 110rem;
        }

        .rnd2 {
            position: relative;
            width: $inner-width;
            height: 279.5rem;
            top: 105rem;

            @mixin floatingtext {
                position: absolute;
                font-family: Poppins;
                font-style: normal;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            .body {
                margin-bottom: 10rem;
            }
            .floating-text1 {
                width: 22.521rem;
                height: 12.615rem;
                left: -7.2rem;
                top: 176rem;
                text-align: right;
                @include floatingtext;
            }
            .floating-text2 {
                @include floatingtext;
                left: 120.6rem;
                top: 201rem;
                width: 21.212rem;
                height: 7.374rem;
            }
            .floating-text3 {
                @include floatingtext;
                text-align: right;
                width: 22.96rem;
                height: 14.348rem;
                left: -6.4rem;
                top: 227rem;
            }
            .floating-text4 {
                @include floatingtext;
                width: 20.212rem;
                height: 14.348rem;
                left: 120.6rem;
                top: 252rem;
            }
            .rnd2-arrow2 {
                position: absolute;
                width: 36rem;
                height: 8rem;
                left: 17.6rem;
                top: 176rem;
            }
            .rnd2-arrow3 {
                position: absolute;
                left: 95.6rem;
                top: 194rem;
                width: 23rem;
                height: 11rem;
            }
            .rnd2-arrow4 {
                position: absolute;
                width: 8rem;
                height: 5rem;
                left: 18.6rem;
                top: 230rem;
            }
            .rnd2-bracket {
                position: absolute;
                width: 4rem;
                height: 29rem;
                left: 113.6rem;
                top: 244rem;
            }

            .rnd2-fig1 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                font-family: Apparel;
                font-style: normal;
                font-size: 2.4rem;
                line-height: 3.1rem;
                img {
                    width: 111rem;
                    height: 75rem;
                    margin: 11.7rem 0 3.2rem 0;
                }
            }
            .rnd2-fig2 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.4rem;
                margin-top: 9rem;
                .text {
                    letter-spacing: 0.2rem;

                    margin: 4.5rem 0rem;
                }
                img {
                    width: 94.766rem;
                    height: 52.888rem;
                }
            }
            .rnd2-fig3 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.4rem;
                .text {
                    margin: 4.5rem 0rem;
                    letter-spacing: 0.2rem;
                }
                img {
                    width: 94.786rem;
                    height: 50.345rem;
                }
            }
            .figure {
                font-family: Apparel;
                font-style: normal;
                font-size: 2.4rem;
                line-height: 3.1rem;
                display: flex;
                align-items: center;
                display: flex;
                justify-content: center;
                margin: 6.3rem 0;
            }
        }

        .rnd-heart {
            position: absolute;
            width: 13.7rem;
            height: 12.7rem;
            left: 118rem;
            top: 11.9rem;
            .bob {
                animation-name: bob;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 5s;
            }
        }
        .rnd-graphic {
            position: absolute;
            width: 74.723rem;
            height: 62.023rem;
            left: 32.7rem;
            top: 44rem;
        }
        .rnd-sarah {
            position: absolute;
            width: 37.2rem;
            height: 18rem;
            left: 3.7rem;
            top: 50.1rem;

            font-family: Poppins;
            font-style: normal;
            font-size: 2rem;
            line-height: 3rem;
            text-align: right;
        }
        .rnd-francesca {
            position: absolute;
            width: 35rem;
            height: 18rem;
            left: 93.4rem;
            top: 93.8rem;

            font-family: Poppins;
            font-style: normal;
            font-size: 2rem;
            line-height: 3rem;
        }
        .rnd-arrow1 {
            position: absolute;
            width: 20.419rem;
            height: 1.918rem;
            left: 42.7rem;
            top: 51rem;
        }
        .rnd-arrow2 {
            position: absolute;
            width: 20.419rem;
            height: 1.918rem;
            left: 71.3rem;
            top: 97.3rem;
            transform-origin: center;
            transform: rotate(180deg);
        }
        .rnd-bubble1 {
            position: absolute;
            width: 27.3rem;
            height: 27.9rem;
            left: 0.2rem;
            top: 85rem;
            &.text {
                left: 5.4rem;
                top: 88.4rem;
                height: 21rem;
                width: 18.1rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 2.1rem;
            }
        }
        .rnd-bubble2 {
            position: absolute;
            width: 27.3rem;
            height: 28.7rem;
            left: 112.5rem;
            top: 53.3rem;
            transform: rotateY(180deg);
            &.text {
                transform: none;
                left: 117.7rem;
                top: 55.8rem;
                height: 21rem;
                width: 18.1rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 2.1rem;
            }
        }
    }

    #approach {
        height: 33.8rem;
        .label {
            width: 95.9rem;
        }
        .approach-body {
            position: absolute;
            width: 63.271rem;
            height: 18.6rem;
            left: 108.714rem;
            top: 298.818rem;
        }
        .approach-ring {
            position: absolute;
            width: 9rem;
            height: 9rem;
            right: 8.6rem;
            top: 15.1rem;
        }
        .approach-circle {
            position: absolute;
            width: 6.39rem;
            height: 6.39rem;
            right: 8.6rem;
            top: 20.5rem;
        }
        .approach-line1 {
            position: absolute;
            width: 0.16rem;
            height: 18.3rem;
            left: 116rem;
            top: 7.9rem;
        }
        .approach-line2 {
            position: absolute;
            width: 1rem;
            height: 22.1rem;
            left: 117.9rem;
            top: 11.7rem;
        }
    }

    #objective {
        height: 34.4rem;
        .label {
            width: 76.5rem;
        }
        .objective-graphic {
            position: absolute;
            width: 52.7rem;
            height: 37.1rem;
            left: 87.7rem;
            top: 0;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        .objective-bigball {
            position: absolute;
            left: 83.7rem;
            top: 7.5rem;
            .circle {
                width: 30.146rem;
                height: 30rem;
                background: rgba(238, 200, 120, 0.6);
            }
        }
        .objective-smallball {
            position: absolute;
            left: 102.3rem;
            top: 22.3rem;
            .circle {
                width: 14.453rem;
                height: 14.383rem;
                background: rgba(238, 200, 120, 0.6);
            }
        }
    }

    #overview {
        height: 49.7rem;
        .label {
            width: 60.3rem;

            text-align: right;
            .header {
                div {
                    width: 100%;
                }
            }
        }
        .overview-graphic {
            position: absolute;
            width: 58.8rem;
            height: 50rem;
            left: 70.3rem;
            top: 1.1rem;
            > svg {
                width: 100%;
                height: 100%;
            }
        }
        .overview-smallball {
            position: absolute;
            left: 82.2rem;
            top: 6.2rem;
            .circle {
                width: 14.566rem;
                height: 14.566rem;
                background: rgba(238, 200, 120, 0.5);
            }
        }
        .overview-bigball {
            position: absolute;
            left: 110.3rem;
            top: 22.7rem;
            .circle {
                width: 21.677rem;
                height: 21.677rem;
                background: #eec878;
            }
        }
    }
}
