.header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 1.3rem;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.title {
    font-family: Apparel;
    font-style: normal;
    font-weight: 900;
    font-size: 8.5rem;
    line-height: 11.2rem;
    margin-bottom: 6rem;
}
.circle {
    border-radius: 100%;
}
.body {
    font-family: Apparel;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.9rem;
}
.case-wrapper {
    img {
        width: 100%;
        height: 100%;
    }
    svg {
        width: 100%;
        height: 100%;
    }
    height: 100vh;
    position: relative;
    background: #ffffff;
    box-sizing: border-box;
    .case-overview {
        position: sticky;
        left: 5rem;
        top: 23rem;
        width: 10rem;

        text-transform: uppercase;
        .header {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.7rem;
            /* identical to box height */

            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            margin-bottom: 0.8rem;
        }
        .item {
            font-family: Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 2.7rem;
            margin-bottom: 0.8rem;
            cursor: pointer;
            position: relative;
            .circle {
                display: block;
                position: absolute;
            }
            .text {
                position: relative;
                pointer-events: none;
                display: block;
                &.active {
                    transform: translateX(1rem);
                }
            }
            .marker {
                position: absolute;
            }
        }
    }
}

.footer-outer {
    height: 104rem;
    width: 100%;
    position: relative;
    .title {
        margin: 2.6rem 0;
    }

    > * {
        width: 58rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        transition: background-color 220ms;
        cursor: pointer;
        position: absolute;
    }

    .item-wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 2rem 3.6rem;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.4rem;
        transition: opacity 300ms;
        &.inTransition {
            opacity: 0;
        }
    }
    .right .item-wrapper {
        align-items: flex-end;
    }
    .left {
        width: 57.8rem;
        height: 33.8rem;
        transform: translate(20rem, 35.1rem);
    }
    .right {
        justify-content: flex-end;
        width: 57.8rem;
        height: 33.8rem;
        transform: translate(105.9rem, 35.1rem);
    }
}

.banner-outer {
    width: 100vw;
    height: 84.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-inner {
    width: 152rem;
    height: 42.5rem;
    display: flex;
    justify-content: space-between;
    .left {
        width: 41rem;
        height: 100%;
        .banner-details {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            padding: 0rem;
            gap: 0.4rem;
        }
        .title {
            margin: 0;
        }
        .case-date,
        .description {
            margin-bottom: 0.4rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 2.7rem;
            text-align: right;
            letter-spacing: 0.03em;
        }
    }
    .right {
        width: 106rem;
        height: 100%;
        background: #eec878;
        display: flex;
        align-items: flex-end;
        .banner-details {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.banner-details {
    display: flex;

    .item {
        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 2.1rem;
            /* identical to box height */

            display: flex;
            align-items: center;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            margin-bottom: 0.85rem;
        }
        .body {
            font-family: Apparel;
            font-style: normal;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
        .body-overview {
            width: 27.215rem;
        }
        .body-objective {
            width: 27.215rem;
        }
    }
}
