@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap");

.TODO {
    position: absolute;

    left: 20rem;
    width: 152rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
        height: 45rem;
        width: 45rem;
        background-color: #769e5d;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.body-2 {
    //styleName: body 2;
    font-family: Apparel;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
}

.heading-4 {
    //styleName: heading 4;
    font-family: Apparel;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: left;
}

#when2meet-case {
    .case-children > * {
        position: relative;
        margin-bottom: 19.4rem;
        &.case-overview {
            width: 15rem;
            top: 104rem;
            height: 1600rem;
            position: absolute;
            .inner {
                position: sticky;
                top: 23rem;
            }
        }
    }
    .crimson {
        font-family: Crimson Text;
        font-weight: bold;
        font-size: 8rem;
    }
    .left .banner-details {
        .title {
            font-size: 7.7rem;
            text-align: right;
        }
        .description {
            font-size: 1.74rem;
        }
    }
    .theme-color {
        color: #769e5d;
    }
    ::selection {
        background: black;
        color: #769e5d;
    }
    .mini-scroller {
        overflow: hidden;
        overflow-y: scroll;
    }
    #lofi-midfi {
        position: relative;
        height: 186.2rem;
        > * {
            left: 30rem;
        }
        .label {
            position: absolute;
            top: 14.2rem;
            width: 123.8rem;
        }
        .figures {
            position: absolute;
            width: 132rem;
            top: 59.5rem;
            .img-wrapper {
                width: 132rem;
                margin-bottom: 6.3rem;
                cursor: pointer;
            }
            .description {
                text-align: center;
                font-size: 2.4rem;
            }
            .caption {
                margin: 6rem 0;
                text-align: center;
                font-size: 2.2rem;
            }
        }
    }

    #hifi {
        .part1 {
            position: relative;
            width: 192rem;
            height: 273rem;
            .label {
                position: absolute;
                left: 30.6rem;
            }
            .mockup {
                width: 192rem;
                height: 93rem;
                position: absolute;
                top: 31.2rem;
                overflow: hidden;
                img {
                    transform: scale(1.4);
                }
            }
            .hifi-carousel {
                position: absolute;
                top: 152.6rem;
                left: 30rem;
                width: 132rem;
                .hifi-caption {
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                }
                .carousel-slide {
                    transition: height 350ms;
                    width: 100%;
                    transition-timing-function: cubic-bezier(
                        0.51,
                        0.6,
                        0.28,
                        1
                    );
                    &.slide-1 {
                        height: 77.6rem;
                    }
                    &.slide-2 {
                        height: 80.7rem;
                    }
                    &.slide-3 {
                        height: 74.8rem;
                        .slide-3-navbar {
                            width: 100%;
                            position: sticky;
                            top: 0;
                            z-index: 1;
                        }
                        .content {
                            position: relative;
                            top: -0.4rem;
                        }
                    }
                    &.slide-4 {
                        height: 77.6rem;
                    }
                    &.slide-5 {
                        height: 77.6rem;
                    }
                    &.slide-6 {
                        height: 103.2rem;
                    }
                    &.slide-7 {
                        height: 101.8rem;
                    }
                }
            }
        }
        .part2 {
            position: relative;
            width: 192rem;
            height: 132rem;
            .label {
                position: absolute;
                width: 130.7rem;
                top: 12rem;
                left: 30.6rem;
            }
            .floating1 {
                position: absolute;

                width: 26.2rem;
                left: 111.4rem;
                top: 70.8rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 2.1rem;
                letter-spacing: 0.03em;
                b {
                    font-weight: 600;
                }
            }
            .floating2 {
                position: absolute;
                width: 26.2rem;
                left: 111.4rem;
                top: 86.1rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 1.4rem;
                line-height: 2.1rem;
                letter-spacing: 0.03em;
                b {
                    font-weight: 600;
                }
            }
            .graphic-guide {
                position: absolute;
                width: 73.6rem;
                left: 30rem;
                top: 60.3rem;
            }
            .graphic-types {
                position: absolute;
                width: 50rem;
                left: 111.4rem;
                top: 105.5rem;
            }
            .hifi-arrow {
                position: absolute;
                height: 11.6rem;
                width: 6rem;
                left: 139rem;
                top: 89.7rem;
            }
        }
    }

    #takeaways {
        position: relative;
        width: 192rem;
        height: 81.5rem;
        margin-bottom: 0;
        .label {
            position: absolute;
            top: 0rem;
            left: 30rem;
            width: 84.4rem;
        }
        .graphic-background {
            position: absolute;
            left: 135.1rem;
            top: 30.6rem;
            .circle {
                width: 30.7rem;
                height: 30.7rem;
                background: linear-gradient(
                        237.87deg,
                        #f3b61f 13.22%,
                        rgba(255, 255, 255, 0) 60.67%
                    ),
                    #779d60;
                border-radius: 100%;
            }
        }
        .graphic {
            position: absolute;
        }
        .graphic-person-sitting {
            height: 31.8rem;
            width: 22.2rem;
            left: 121.2rem;
            top: 34.1rem;
        }
        .graphic-person-sitting-bubble {
            height: 4.9rem;
            width: 6.1rem;
            left: 133.6rem;
            top: 29rem;
        }
        .graphic-person-standing-bubble {
            height: 4.9rem;
            width: 6.1rem;
            left: 147rem;
            top: 22.5rem;
        }
        .graphic-person-standing {
            height: 41.2rem;
            width: 28.3rem;
            left: 143.7rem;
            top: 24.6rem;
        }
    }

    #rnd-ideation {
        position: relative;
        width: 192rem;
        height: 257rem;
        .label {
            width: 130rem;
        }
        .part1 {
            position: relative;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10rem;
            flex-direction: column;
            margin-bottom: 19.4rem;
            .ideation-graphic {
                width: 132rem;
            }
        }
        .part2 {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            gap: 10.9rem;

            .ideation-carousel {
                width: 132rem;
                .carousel-slide {
                    width: 100%;
                    height: 77.8rem;
                }
            }
        }
    }

    #rnd-user-research {
        position: relative;
        width: 192rem;
        height: 351.3rem;

        .user-research-carousel {
            position: absolute;
            width: 132rem;
            left: 30rem;
            top: 68.9rem;
            border-radius: 0rem;

            .carousel-slide {
                width: 100%;
                transition: height 350ms;
                transition-timing-function: cubic-bezier(0.51, 0.6, 0.28, 1);
                &.slide-1 {
                    height: 80.2rem;
                }
                .slide-component-1 {
                    height: 80rem;
                    .content-wrapper {
                        width: 132rem;
                        height: 80.2rem;
                    }
                    .pain-point {
                        position: absolute;
                        &.a {
                            width: 54.2rem;
                            top: 0.8rem;
                            left: 9.5rem;
                        }
                        &.b {
                            width: 41.5rem;
                            top: 24.9rem;
                            right: 9.5rem;
                        }
                        &.c {
                            top: 53.4rem;
                            left: 9.5rem;
                            width: 49.4rem;
                        }
                    }

                    .research-bubble {
                        position: absolute;
                        .inner-text {
                            position: absolute;
                            color: white;
                            top: 2.4rem;
                            bottom: 2.4rem;
                            left: 5.6rem;
                            right: 4.8rem;
                            font-family: Poppins;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 1.4rem;
                            line-height: 2.1rem;
                        }
                        &.a {
                            height: 13.2rem;
                            width: 37.9rem;
                            left: 37.3rem;
                            top: 12.7rem;
                        }
                        &.b {
                            height: 11.1rem;
                            width: 37.8rem;
                            left: 56.7rem;
                            top: 36.2rem;
                        }
                        &.c {
                            height: 9rem;
                            width: 37.9rem;
                            left: 37.4rem;
                            top: 65rem;
                        }
                    }

                    .bitmoji {
                        position: absolute;
                        width: 23.3rem;
                        height: 23.3rem;
                        &.a {
                            left: 14rem;
                            top: 7.3rem;
                        }
                        &.b {
                            left: 96.5rem;
                            top: 29.6rem;
                        }
                        &.c {
                            left: 14.1rem;
                            top: 56.9rem;
                        }
                    }
                }
                &.slide-2 {
                    height: 89.7rem;
                }
                .slide-component-2 {
                    width: 109rem;
                }
            }
        }

        .persona {
            position: absolute;

            &.persona-1 {
                top: 226.6rem;
            }
            &.persona-2 {
                top: 292.6rem;
            }

            left: 20rem;
            height: 58rem;
            width: 152rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            margin-bottom: 8rem;
            .divider {
                width: 1rem;
                height: 52rem;
                background: #4a4b94;
                border-radius: 2rem;
            }
            .left {
                .headshot {
                    width: 25.6rem;
                    height: 25.6rem;
                }

                .description {
                    font-family: Poppins;
                    font-style: normal;
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }
            .right {
                display: flex;
                gap: 3rem;
                .column {
                    .green {
                        color: #779d60;
                    }
                    .question {
                        width: 23rem;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 2.3rem;
                        line-height: 3.4rem;
                        text-align: center;
                        margin-bottom: 5.2rem;
                    }
                    .item {
                        width: 20.2rem;
                        padding: 1.6rem 2.4rem;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.4rem;
                        line-height: 2.1rem;
                        border-radius: 2rem;
                        border: solid black 0.2rem;
                        margin-bottom: 1.7rem;
                    }
                }
            }
        }

        .label2 {
            position: absolute;
            top: 185.5rem;
            left: 30rem;
            width: 132rem;
        }

        .label {
            position: absolute;
            top: 0;
            left: 30rem;
            width: 132rem;
        }
        .body {
            width: 98.1rem;
        }
        .comment {
            text-align: left;
            width: 80.1rem;
            margin-bottom: 6rem;
        }
        .statistics-disclaimer {
            font-size: 1.8rem;
            text-align: right;
            margin-bottom: 2.6rem;
            margin-top: 5.4rem;
        }
        .statistics {
            display: flex;
            gap: 12.7rem;
            justify-content: center;
            align-items: top;
            margin-top: 3.9rem;

            .item {
                .number {
                    font-family: Apparel;
                    font-weight: 900;
                    font-size: 7.2rem;
                    .animated {
                        display: inline;
                    }
                }
                .description {
                    width: 35.6rem;

                    font-family: Apparel;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                }
            }
        }
    }

    #rnd-initial {
        position: relative;
        width: 192rem;
        height: 63.1rem;
        .label {
            position: absolute;
            left: 30rem;
            top: 5.7rem;
            width: 83.5rem;
        }
        .process-line {
            position: absolute;
            bottom: 2.6rem;
            left: 27.1rem;
            display: flex;
            gap: 2.67rem;
            align-items: center;

            .item {
                padding: 0.9rem 1.7rem;
                border: 0.2rem solid #f3b61f;
                border-radius: 0.8rem;
                display: inline;
                margin: 0;
                font-size: 1.2rem;
            }
            .arrow {
                width: 4rem;
                height: 1rem;
            }
        }
        .graphic-background {
            position: absolute;
            left: 125rem;
            top: 6.3rem;

            .inner {
                width: 24.5rem;
                height: 24.5rem;

                background: linear-gradient(
                        82.07deg,
                        #f3b61f 2%,
                        rgba(255, 255, 255, 0) 97.67%
                    ),
                    #4a4b94;
                transform: rotate(-103.82deg);
            }
        }
        .graphic-plant {
            position: absolute;
            width: 20.4rem;
            height: 42.6rem;
            top: 8.1rem;
            left: 139.6rem;
        }
    }

    #overview {
        width: 192rem;
        height: 194.3rem;
        margin-bottom: 19.4rem;

        .label {
            position: absolute;
            left: 30rem;
            top: 3.7rem;
        }

        .graphic-background {
            position: absolute;
            left: 38.8rem;
            top: 20.8rem;

            .inner {
                width: 38.3rem;
                height: 38.3rem;
                background: linear-gradient(
                        82.07deg,
                        #f3b61f 2%,
                        rgba(255, 255, 255, 0) 97.67%
                    ),
                    #4a4b94;
                transform: rotate(-103.82deg);
            }
        }
        .graphic-person-sitting {
            position: absolute;
            left: 43.2rem;
            top: 34.4rem;
            width: 27.1rem;
        }
        .graphic-person-standing {
            position: absolute;
            top: 28rem;
            left: 27.7rem;
            width: 21rem;
        }
        .overview-carousel {
            width: 132rem;
            position: absolute;
            left: 30rem;
            top: 92.2rem;
            .carousel-slide {
                width: 100%;
                height: 77.63rem;
                transition: height 350ms;
                transition-timing-function: cubic-bezier(0.51, 0.6, 0.28, 1);
                &.slide-1 {
                    height: 73.2rem;
                }
                &.slide-2 {
                    height: 77.6rem;
                }
                &.slide-3 {
                    height: 74.7rem;
                    .slide-3-navbar {
                        width: 100%;
                        position: sticky;
                        top: 0;
                        z-index: 1;
                    }
                    .content {
                        position: relative;
                        top: -0.5rem;
                    }
                }
                &.slide-4 {
                    height: 77.6rem;
                }
                &.slide-5 {
                    height: 77.5rem;
                }
                &.slide-6 {
                    height: 103.1rem;
                }
                &.slide-7 {
                    height: 101.8rem;
                }
            }
        }
        .body {
            position: absolute;
            width: 71.2rem;
            height: 20.3rem;
            left: 93rem;
            top: 35.4rem;
        }
    }
}
