#vertical_signature {
    position: absolute;
    width: 81.88px;
    height: 165.61px;
    left: 191px;
    top: 54.02px;
}
.landing_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    position: absolute;
    width: 835px;
    height: 131px;
    left: 235.25px;
    top: 316.98px;

    .top {
        font-weight: 900;
        font-size: 100px;
    }
    .bottom {
        div {
            margin-bottom: 14px;
            .email {
                font-weight: 400;
                font-size: 20px;
                text-decoration: underline;
                margin: -14px;
                padding: 14px;
                cursor: pointer;
            }
        }
        .desc {
            font-weight: 700;
            font-size: 30px;
        }
    }
}

#landing {
    height: 100vh;
    width: 100vw;
    background-color: white;
    ::selection {
        background: black;
        color: white;
    }
    .offset_desc {
        font-size: 20px;
        position: absolute;
        right: 93px;
        top: 705px;
        text-align: right;
    }
    .socials {
        position: absolute;
        left: 1820px;
        top: 354px;
        display: flex;
        flex-direction: column;
        gap: 46px;
        cursor: pointer;
    }
    .social_wrapper {
        width: 25px;
        height: 25px;
        svg {
            pointer-events: none;
        }
        .circle {
            border-radius: 50%;
            position: absolute;
        }
    }
    .landing_shapes {
        pointer-events: none;
        .square {
            position: absolute;
            width: 460px;
            height: 457.5px;
            left: 783.25px;
            top: 219.23px;
            background: #ffffff;
            mix-blend-mode: difference;
        }
        .rectangle {
            position: absolute;
            width: 12.76px;
            height: 252.27px;
            left: 1266.25px;
            top: 219.1px;

            background: #ffffff;
            mix-blend-mode: difference;
        }
        .circle {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 1185.25px;
            top: 501.6px;

            background: #ffffff;
            mix-blend-mode: difference;
            border-radius: 50%;
        }
        .line {
            position: absolute;
            width: 1.97px;
            height: 676px;
            left: 1125.44px;
            top: 193.33px;

            background: #ffffff;
            mix-blend-mode: difference;
            transform: rotate(36.62deg);
        }
    }
}
