#vertical_signature {
    position: absolute;
    width: 8.188rem;
    height: 16.561rem;
    left: 19.1rem;
    top: 5.4rem;
}
.landing_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    position: absolute;
    width: 83.5rem;
    height: 13.1rem;
    left: 23.525rem;
    top: 31.7rem;

    .top {
        font-weight: 900;
        font-size: 10rem;
    }
    .bottom {
        div {
            margin-bottom: 1.4rem;
            .email {
                font-weight: 400;
                font-size: 2rem;
                text-decoration: underline;
                margin: -1.4rem;
                padding: 1.4rem;
                cursor: pointer;
            }
        }
        .desc {
            font-weight: 700;
            font-size: 3rem;
        }
        .view-work {
            width: 18rem;
            height: 4rem;
            cursor: pointer;
            .inner {
                width: 18rem;
                height: 4rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.4rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: 0.2rem solid black;
                outline-offset: -0.2rem;
                span {
                    color: white;
                    text-transform: uppercase;
                    mix-blend-mode: difference;
                }
            }
            .background {
                position: absolute;
                height: 4rem;
                width: 0;
                background-color: black;
                transition: width 420ms;
            }
            .arrow {
                display: inline-block;
                transition: all 220ms;
                width: 0rem;
                margin-left: 0.5rem;
                opacity: 0;
            }
            &:hover {
                .background {
                    width: 18rem;
                }
                .arrow {
                    width: 1rem;
                    opacity: 1;
                }
            }
        }
    }
}

#landing {
    height: 100vh;
    width: 100vw;
    background-color: white;
    ::selection {
        background: black;
        color: white;
    }
    .offset_desc {
        font-size: 2rem;
        position: absolute;
        right: 9.3rem;
        top: 70.5rem;
        text-align: right;
    }
    .socials {
        position: absolute;
        left: 182rem;
        top: 35.4rem;
        display: flex;
        flex-direction: column;
        gap: 4.6rem;
        cursor: pointer;
    }
    .social_wrapper {
        width: 2.5rem;
        height: 2.5rem;
        svg {
            pointer-events: none;
        }
        .circle {
            border-radius: 50%;
            position: absolute;
        }
    }
    .landing_shapes {
        pointer-events: none;
        .square {
            position: absolute;
            width: 46rem;
            height: 45.75rem;
            left: 78.325rem;
            top: 21.923rem;
            background: #ffffff;
            mix-blend-mode: difference;
        }
        .rectangle {
            position: absolute;
            width: 1.276rem;
            height: 25.227rem;
            left: 126.625rem;
            top: 21.91rem;

            background: #ffffff;
            mix-blend-mode: difference;
        }
        .circle {
            position: absolute;
            width: 13rem;
            height: 13rem;
            left: 118.525rem;
            top: 50.16rem;

            background: #ffffff;
            mix-blend-mode: difference;
            border-radius: 50%;
        }
        .line {
            position: absolute;
            width: 0.197rem;
            height: 67.6rem;
            left: 112.544rem;
            top: 19.333rem;

            background: #ffffff;
            mix-blend-mode: difference;
            transform: rotate(36.62deg);
        }
    }
}
